.menu_headline {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin: 3rem;
    border-bottom: 0.3rem solid black;
}

.menu_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    list-style: none;
    width: 90%;
    max-width: 80rem;
    margin: 2rem auto;
    gap: 2.5rem;
    height: auto;
}