.modal ul {
  list-style: none;
}

.order {
  width: 100%;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
}

.order li {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  flex-wrap: wrap;
  border: 0.2rem solid black;
  padding: 1rem;
  border-radius: 1rem;
}

.order p {
  font-size: 3rem;
  color: black;
  padding: 0.5rem 0;
}

.modal img {
  width: 100%;
  max-width: 25rem;
  height: auto;
  border-radius: 2rem;
  object-fit: cover;
  border: 4px solid black;
}

.modal h2 {
  color: black;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  border-bottom: 0.2rem solid black;
  margin-bottom: 1rem;
}

.quantitySelection {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.quantitySelection button {
  background-color: transparent;
  border: 0.2rem solid black;
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.quantitySelection button:hover {
  color: white;
  background-color: black;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.footer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  max-width: 60rem;
}

.footer p {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.navigation {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 0.5rem;
}

.navigation button {
  font-size: 1.5rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 0.2rem solid black;
  padding: 0.5rem;
  cursor: pointer;
}

.navigation button:hover {
  color: black;
  background-color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
}

@media only screen and (max-width: 600px) {
  .footer p {
    font-size: 1.5rem;
  }

  .order p {
    font-size: 2.5rem;
  }

  .navigation button {
    font-size: 1.2rem;
  }

  .modal img {
    max-width: 15rem;
  }
}
