.card {
  position: relative;
}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: #0a1118;
    opacity: 0.4;
    z-index: 1;
  }

.content {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 1.5rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content h2 {
    color: white;
    font-size: 4rem;
}

.content p {
    color: white;
    font-size: 2rem;
}

.content button {
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
    border-radius: 5px;
    padding: 0.7rem;
    cursor: pointer;
}

.content button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
